body {
  background-color : hsl(0, 0%, 0%);
  font-family: 'Montserrat';
  color: #3fb123;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
background-color: #000000;
padding: 40px;
border-radius: 20px;
box-shadow: 0 0 15px #32c70d
}

h1 {
text-align: center;
margin-bottom: 30px;
font-size: 28px;
}

label {
display: block;
margin-bottom: 7px;
font-weight: bold;
}

input {
width: 92%;
padding: 10px;
margin-bottom: 20px;
border: none;
border-radius: 5px;
font-family: 'Savate';
}

button {
width: 100%;
padding: 12px;
background-color: #3fb123;
border: none;
border-radius: 5px;
color: #000;
font-weight: bold;
cursor: pointer;
transition: 0.3s;
font-family: 'Alumni Sans SC';
font-size: 20px;
}

button:hover {
background-color: #89fccc;
}













